html{
    text-align: -webkit-center;
}
body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    background-image: url(/backgrounds/homePage-Desktop.png);
}

.home-bg { background-image: url('/backgrounds/homePage-Desktop.png'); }
.about-bg { background-image: url('/backgrounds/aboutPage.png'); }
.skills-bg { background-image: url('/backgrounds/skillsPage.png'); }
.contact-bg { background-image: url('/backgrounds/contactPage.png'); }

#skills-display { 
    gap: 5px; 
    justify-items: center; 
    align-items: center; 
    height: 100vh;
}

#skills-display.onclick {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-content: end;
    gap: 10px; 
    margin-top: 50px;
    margin-bottom: 0px;
    height: 40vh;

    .project{
        margin: 0;
    }
}



.projects-container li{
    list-style-type: none;
    text-align: left;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home-page img{
    background-color: rgb(38, 38, 38, 0.93);
    border-radius: 30px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

#about-page{
    padding: 0;
    height: 100vh;
    align-content: center;
}

#about-content-container{
    display: flex;
    width: 50vw;
    padding: 30px;
    margin-top: 50px;
    text-align: left;
    font-size: 24px;
    color: white;
    background-color: #404040b0;
    border-radius: 40px;
    
}
.project {
    cursor: pointer;
}


@media only screen and (min-width: 755px) {
:root {
    --photo-width: 27vw;
    --photo-height: calc(var(--photo-width) * 1.337);
}

.mobile-container{
    display: none;
}

body{
    background-image: url(/backgrounds/homePage-Desktop.png);
}

.home-bg { background-image: url('/backgrounds/homePage-Desktop.png'); }
.about-bg { background-image: url('/backgrounds/aboutPage.png'); }
.skills-bg { background-image: url('/backgrounds/skillsPage.png'); }
.contact-bg { background-image: url('/backgrounds/contactPage.png'); }

#Desktop-buttons {
    width: 100%;
    background-color: #3A3A3A;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1002;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#front-page-words h1 {
    margin: 0;
    font-size: 3vw; 
}

#front-page-words p {
    margin: 10px 0; 
}

#skills-display {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
    justify-items: center; 
    align-items: center; 
    height: 93vh;
    width: 70vw;
    align-content: center; 
    justify-content: center; 
    padding: 20px 0;
}

#desktop-buttons{
    display: block;
}


/* Navigation links */
#Desktop-buttons a {
    padding: 12px;
    color: white;
    text-decoration: none;
    width: 20%; 
    text-align: center; 
    align-content: center;
    font-size: calc(12px + 1.5vh);
    
}
#Desktop-buttons a:not(:last-child) {
    border-right: 1px solid black; 
}

/* Add a background color on mouse-over */
#Desktop-buttons a:hover {
    background-color: #000;
}

/* Style the current/active link */
#Desktop-buttons a.active {
    background-color: #04AA6D;
}

#front-page-photo {
    width: 50%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}
#front-page-words {
    width: 30%;
    height: var(--photo-height); /* Adjust height based on content */
    font-size: 2vw; /* Dynamically sized font */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    text-align: center;
    padding: 20px; /* Add some padding for better spacing */
    border-radius: 10px; /* Optional: Add rounded corners */
    box-sizing: border-box; /* Include padding in the element’s total width and height */
    position: absolute;
    right: 20%;
    top: 50%;
    transform: translateY(-50%);
    margin-top: calc(15px + 1.5vh);
}


.project{
    text-align: center;
    width: 150px; /* Adjust width as needed */
    height: 150px;
    margin: 30px; 
    padding: 0;
    background-color: #c04e15d0;
    border-radius: 30px;    
}
.project h3{
    padding: 0;
    margin: 0;
}
.project img{
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.projects-container{
    background-color: #c04e15d0;
    border-radius: 30px;
    width: 50%;
}

#home-page img {
    height: var(--photo-height);
    margin-top: calc(36px + 1.5vh);
}

#name{
    font-size: 3vw;
}

#name, #title, #quote {
    margin: 10px 0;
}


#Contact-page{
    height: 98vh;
    align-content: center;
}

#Contact-page form{
    background-color: rgba(128, 128, 128, 0.575);
    width: 50vw;
    height: 85vh;
    align-content: center;
    overflow: auto;
    border-radius: 20px;
}

#Contact-page button{
    float: right;
    margin-right: 5%;
    font-size: 25px;
    border-radius: 30px;
}

#subject, #input-name,#email,#message{
    margin: 5px;
    border-radius: 8px;
    padding-left: 5px;
    font-size: 18px;
}

#subject, #input-name,#email{
    height: 3vw;
    width: 90%;
}

#contact-me{
    width: 90%;
    text-align-last: left;
}

#message{
    padding-top: 20px;
    width: 90%;
    height: 40vh; 
    resize: none;
}

}
